USE [master]
GO
/****** Object:  Database [BI]    Script Date: 12-05-2023 23:07:35 ******/
CREATE DATABASE [BI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLKNOP\MSSQL\DATA\BI.mdf' , SIZE = 10486784KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLKNOP\MSSQL\DATA\BI_log.ldf' , SIZE = 45631808KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BI]
GO
/****** Object:  Table [dbo].[IP_GATEWAY_PY]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IP_GATEWAY_PY](
	[SUCURSAL] [numeric](18, 0) NOT NULL,
	[CAJA] [varchar](50) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[PING] [int] NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[ACTUALIZACION] [date] NULL CONSTRAINT [DF_IP_GATEWAY_PY_ACTUALIZACION]  DEFAULT (getdate())
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RETIRO_CABECERA_SQL]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RETIRO_CABECERA_SQL](
	[ID_RETIRO] [numeric](18, 0) NULL,
	[ID_ORIGEN] [numeric](18, 0) NULL,
	[CODIGO] [varchar](30) NULL,
	[FECHA_RETIRO] [datetime] NULL,
	[RETIRA] [varchar](50) NULL,
	[SUCURSAL] [varchar](3) NULL,
	[BOLETA] [varchar](20) NULL,
	[RUT_CLIENTE] [varchar](20) NULL,
	[NOMBRE_CLIENTE] [varchar](50) NULL,
	[DESCUENTO_GENERAL] [numeric](18, 0) NULL,
	[MONTO_PEDIDO] [numeric](7, 0) NULL,
	[TOTAL_BOLETA] [numeric](7, 0) NULL,
	[ESTADO] [varchar](15) NULL,
	[COMENTARIO] [varchar](50) NULL,
	[ID_INTERNO_ORIGEN] [varchar](20) NULL,
	[TIPO_TRANSACCION] [varchar](20) NULL,
	[TIPO_BOLETA] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RETIRO_CUPON_SQL]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RETIRO_CUPON_SQL](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_RETIRO] [numeric](18, 0) NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[DESCUENTO] [numeric](18, 0) NULL,
	[TIPO] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RETIRO_DETALLE_SQL]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RETIRO_DETALLE_SQL](
	[ID_DETALLE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_RETIRO] [numeric](18, 0) NULL,
	[COD_PRODUCTO] [varchar](15) NULL,
	[CANTIDAD] [numeric](18, 0) NULL,
	[MONTO] [numeric](18, 0) NULL,
	[DESCUENTO] [numeric](18, 0) NULL,
	[PICKING] [varchar](2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RETIRO_PAGO_SQL]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RETIRO_PAGO_SQL](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_RETIRO] [numeric](18, 0) NULL,
	[CUENTA1] [varchar](10) NULL,
	[MONTO1] [numeric](18, 0) NULL,
	[CUENTA2] [varchar](10) NULL,
	[MONTO2] [numeric](18, 0) NULL,
	[CONVENIO] [varchar](3) NULL,
	[LISTA] [varchar](4) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RETIRO_PARAMETROS_SQL]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RETIRO_PARAMETROS_SQL](
	[PARAMETRO] [varchar](200) NOT NULL DEFAULT (''),
	[VALOR] [varchar](200) NOT NULL DEFAULT ('')
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UTIL_LOG_USUARIO]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UTIL_LOG_USUARIO](
	[IdAccion] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
	[Modulo] [varchar](100) NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[Descrp_Xml] [xml] NULL,
	[Fecha_Char] [varchar](8) NOT NULL DEFAULT (''),
	[Nro_Pedido] [varchar](20) NOT NULL DEFAULT (''),
	[Estado] [varchar](10) NOT NULL DEFAULT ('')
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[VISTA_ESTADOS_PREPAGO]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VISTA_ESTADOS_PREPAGO]
AS

SELECT * FROM OPENQUERY(AS_DELIVER,'SELECT ESTADO,CODIGO,ID_RETIRO,ID_INTERNO_ORIGEN 
FROM RETIRO_CABECERA 
WHERE (ESTADO =''VISTO''  
OR    ESTADO =''CONFIRMADO''
OR    ESTADO =''COMPLETADO''
OR    ESTADO =''ENTREGADO'')
AND VARCHAR_FORMAT(CURRENT TIMESTAMP, ''YYYYMMDD'')  <=  VARCHAR_FORMAT(FECHA_RETIRO, ''YYYYMMDD'') 
AND ID_ORIGEN=3')

GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZA_LOG_USUARIO]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_ACTUALIZA_LOG_USUARIO](
    @Usuario        varchar(100),
    @Modulo			varchar(100),
    @Descripcion	varchar(1000),
	@EntradaXml		xml = null,
	@Nro_Pedido		varchar(20) = '',
	@Estado			varchar(10) = ''
)
AS

BEGIN
-- EXEC SP_ACTUALIZA_LOG_USUARIO 'pjeria', 'Ingreso', 'aaaaaaaaaa'

INSERT INTO dbo.UTIL_LOG_USUARIO (
    Fecha,
    Usuario,
    Modulo,
    Descripcion,
	Descrp_Xml,
	Fecha_Char,
	Nro_Pedido,
	Estado
)
SELECT GETDATE(),
    LTRIM(RTRIM(@Usuario)),
	LTRIM(RTRIM(@Modulo)),
	LTRIM(RTRIM(@Descripcion)),
	@EntradaXml,
	convert(varchar(8), GETDATE(), 112),
	LTRIM(RTRIM(@Nro_Pedido)),
	LTRIM(RTRIM(@Estado))

END





GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_DETALLE_RETIRO]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROC [dbo].[SP_CHECK_DETALLE_RETIRO](
@ID_INTERNO_ORIGEN		AS VARCHAR (20),
@ID_RETIRO		AS VARCHAR(10)         OUTPUT
)

AS 
BEGIN

SET XACT_ABORT ON;

DECLARE @SQL AS VARCHAR(2000)
DECLARE @ID_RETIRO_CABECERA AS VARCHAR(10)
DECLARE @ID_RETIRO_DETALLE AS VARCHAR(10)

SET @SQL='SELECT * FROM 
OPENQUERY(AS_DELIVER,''SELECT DISTINCT A.ID_RETIRO ID_RETIRO_CABECERA,B.ID_RETIRO ID_RETIRO_DETALLE FROM RETIRO_CABECERA A LEFT JOIN RETIRO_DETALLE B
ON A.ID_RETIRO=B.ID_RETIRO
WHERE ID_INTERNO_ORIGEN='''''+  @ID_INTERNO_ORIGEN  +''''''')'

--EVITANDO INSERTAR UN CODIGO REPETIDO
CREATE TABLE [DBO].[#TEMP]([ID_RETIRO_CABECERA] [VARCHAR](10) NULL,[ID_RETIRO_DETALLE] [VARCHAR](10) NULL)

INSERT INTO #TEMP
EXEC(@SQL)
-------------------------------------

SELECT @ID_RETIRO_CABECERA=ID_RETIRO_CABECERA,@ID_RETIRO_DETALLE=ID_RETIRO_DETALLE FROM #TEMP

IF @ID_RETIRO_DETALLE IS NULL
SET @ID_RETIRO=@ID_RETIRO_CABECERA
ELSE
SET @ID_RETIRO='0'

END



GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EXISTE_PEDIDO]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[SP_CHECK_EXISTE_PEDIDO](
@ID_INTERNO_ORIGEN		AS VARCHAR (20),
@ID_RETORNO		AS BIT         OUTPUT
)

AS 
BEGIN

SET XACT_ABORT ON;

/*
DECLARE @ID_RETORNO		AS BIT 
EXEC SP_CHECK_EXISTE_PEDIDO '430602570', @ID_RETORNO	 OUTPUT
SELECT @ID_RETORNO
*/

DECLARE @SQL AS VARCHAR(2000)
DECLARE @ID_PEDIDO_CABECERA AS VARCHAR(10)

SET @SQL='SELECT * FROM 
OPENQUERY(AS_DELIVER,''SELECT DISTINCT A.ID_INTERNO_ORIGEN FROM RETIRO_CABECERA A LEFT JOIN RETIRO_DETALLE B
ON A.ID_RETIRO=B.ID_RETIRO
WHERE ESTADO = ''''RECIBIDO'''' AND ID_INTERNO_ORIGEN='''''+  @ID_INTERNO_ORIGEN  +''''''')'

--PRINT @SQL

--EVITANDO INSERTAR UN CODIGO REPETIDO
CREATE TABLE [DBO].[#TEMP]([ID_PEDIDO_CABECERA] [VARCHAR](10) NULL)
INSERT INTO #TEMP
EXEC(@SQL)
-------------------------------------

SELECT @ID_PEDIDO_CABECERA=ID_PEDIDO_CABECERA FROM #TEMP

IF @ID_PEDIDO_CABECERA IS NULL
SET @ID_RETORNO=0
ELSE
SET @ID_RETORNO=1

END




GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINA_PEDIDO]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_ELIMINA_PEDIDO](
@ID_INTERNO_ORIGEN	AS VARCHAR (20)        
)

AS 
BEGIN

SET XACT_ABORT ON;

DECLARE @SQL AS VARCHAR(2000)
DECLARE @ID_RETIRO_CABECERA AS VARCHAR(10)

SET @SQL='SELECT * FROM 
OPENQUERY(AS_DELIVER,''SELECT DISTINCT ID_RETIRO FROM RETIRO_CABECERA
WHERE ID_INTERNO_ORIGEN='''''+  @ID_INTERNO_ORIGEN  +''''''')'

CREATE TABLE [DBO].[#TEMP_RET]([ID_RETIRO_CABECERA] [VARCHAR](10) NULL)
INSERT INTO #TEMP_RET
EXEC(@SQL)
-------------------------------------

SELECT @ID_RETIRO_CABECERA=ID_RETIRO_CABECERA FROM #TEMP_RET

SET @SQL='DELETE OPENQUERY(AS_DELIVER,''SELECT * FROM RETIRO_PAGO WHERE ID_RETIRO=' + @ID_RETIRO_CABECERA  +''')'
EXEC(@SQL)

SET @SQL='DELETE OPENQUERY(AS_DELIVER,''SELECT * FROM RETIRO_CUPON WHERE ID_RETIRO=' + @ID_RETIRO_CABECERA  +''')'
EXEC(@SQL)

SET @SQL='DELETE OPENQUERY(AS_DELIVER,''SELECT * FROM RETIRO_DETALLE WHERE ID_RETIRO=' + @ID_RETIRO_CABECERA  +''')'
EXEC(@SQL)

SET @SQL='DELETE OPENQUERY(AS_DELIVER,''SELECT * FROM RETIRO_CABECERA WHERE ID_INTERNO_ORIGEN='''''+  @ID_INTERNO_ORIGEN  +''''''')'
EXEC(@SQL)



END



GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PARAMETRIA_PEDIDOSYA]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC  [dbo].[SP_GET_PARAMETRIA_PEDIDOSYA]
@PARAMETRO AS VARCHAR(50)=NULL

-- EXEC SP_GET_PARAMETRIA_PEDIDOSYA 'CLIENTID_PEDIDOSYA'

AS
BEGIN

	--create table #temp2 (parametro varchar(200), valor varchar(200) )

	--insert into #temp2
	--select 'MAIL_RECHAZO_PEDIDOSYA' , 'pablo.jeria@gnsichile.cl' union all
	--select 'CLIENTID_PEDIDOSYA',	'integration_knop'  union all
	--select 'CLIENTSECRET_PEDIDOSYA',	'c709481ea1' union all
	--select 'SKU_DESPACHO_PEDIDOSYA',	'3310000002322' union all
	--select 'GAP_STOCK_PEDIDOSYA',	'2' union all
	--select 'CORREO_DESDE_PEDIDOSYA',	'PREPAGOS.FKNOP@GMAIL.COM' union all
	--select 'CORREO_DESDE_NOMBRE_PEDIDOSYA',	'RETIRO EN TIENDA' union all
	--select 'CORREO_DESDE_PASS_PEDIDOSYA',	'farmaciasknop2019' union all
	--select 'CORREO_COPIA_PEDIDOSYA',	'pablo.jeria@gnsichile.cl' union all
	--select 'LOCAL_LISTA_NORTE',	'121' union all
	--select 'LOCAL_LISTA_NORTE',	'122' union all
	--select 'LOCAL_LISTA_NORTE',	'123' union all
	--select 'LOCAL_LISTA_NORTE',	'140' union all
	--select 'LOCAL_LISTA_NORTE',	'150' 

	--SELECT VALOR FROM #temp2 WHERE LTRIM(RTRIM(UPPER(PARAMETRO))) = LTRIM(RTRIM(UPPER(@PARAMETRO)))

	SELECT LTRIM(RTRIM(VALOR)) AS VALOR FROM dbo.RETIRO_PARAMETROS_SQL WHERE LTRIM(RTRIM(UPPER(PARAMETRO))) = LTRIM(RTRIM(UPPER(@PARAMETRO)))



END





GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_PREPAGO]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_PREPAGO]  
@COD AS VARCHAR(30),  
@RECEP AS NUMERIC(8),  
@EMPRESA AS NUMERIC(3)  
AS  
  
SELECT * INTO #TEMP FROM OPENQUERY(AS_DELIVER,'SELECT * FROM CODIGOS_PREPAGO')  
  
IF NOT EXISTS (SELECT * FROM #TEMP WHERE CODIGO=@COD AND EMPRESA=@EMPRESA)   
BEGIN  
   INSERT INTO OPENQUERY(AS_DELIVER,'SELECT * FROM CODIGOS_PREPAGO')  
 SELECT @COD,'ACTIVO',NULL,@RECEP,NULL,@EMPRESA,SUBSTRING(CONVERT(CHAR,GETDATE(),121),12,5),NULL  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_RETIRO_CABECERA]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[SP_INSERTA_RETIRO_CABECERA](
@ORIGEN			AS VARCHAR (1),
@CODIGO			AS VARCHAR (30),
@FECHA			AS VARCHAR (20),
@RETIRA			AS VARCHAR (50),
@SUCURSAL		AS VARCHAR (3),
@TIPO_BOLETA	AS VARCHAR (20),
@RUT			AS VARCHAR (20),
@NOMBRE			AS VARCHAR (50),
@DESCUENTO		AS VARCHAR (7),
@TOTAL_PEDIDO	AS VARCHAR (7),
@TOTAL_BOLETA	AS VARCHAR (7),
@ESTADO			AS VARCHAR (15),
@COMENTARIO		AS VARCHAR (50),
@ID_INTERNO_ORIGEN	AS VARCHAR (20),
@TIPO_TRANSACCION AS VARCHAR(20),
@ID_RETIRO		AS VARCHAR(10)         OUTPUT
)

AS 
BEGIN

--SET XACT_ABORT ON;

/*

DECLARE @result  VARCHAR(10)
EXECUTE  SP_INSERTA_RETIRO_CABECERA '3', 'BKC60O3H', '2021/07/26 23:35:46', 'SHOPPER', '14', 'GENERAR', '76211425', 'PEDIDOS YA', '0', '8880', '8880', 'RECIBIDO', '', '141030717', 'PAGO EN POS', @result OUTPUT

SELECT @result

 */

DECLARE @SQL AS VARCHAR(2000)

SET @SUCURSAL=RIGHT('000' + LTRIM(RTRIM(@SUCURSAL)),3)
-- SET @FECHA= CONCAT(SUBSTRING(@FECHA,7,4),'-',SUBSTRING(@FECHA,4,2),'-',SUBSTRING(@FECHA,1,2),' ',SUBSTRING(@FECHA,12,8))
-- fecha 3 2021/07/26 23:35:46
SET @FECHA= CONCAT(SUBSTRING(@FECHA,1,4),'-',SUBSTRING(@FECHA,6,2),'-',SUBSTRING(@FECHA,9,2),' ',SUBSTRING(@FECHA,12,8))

--EVITANDO INSERTAR UN CODIGO REPETIDO
CREATE TABLE [DBO].[#TEMP]([VAL] [VARCHAR](20) NOT NULL)

SET @SQL='SELECT * FROM OPENQUERY(AS_DELIVER,''SELECT ID_INTERNO_ORIGEN FROM RETIRO_CABECERA WHERE ID_ORIGEN=' + @ORIGEN  + ' AND ID_INTERNO_ORIGEN='''''+  @ID_INTERNO_ORIGEN  +''''''')'

INSERT INTO #TEMP
EXEC(@SQL)
-------------------------------------

SET @ID_RETIRO=''
IF NOT EXISTS (SELECT * FROM #TEMP WHERE VAL=@ID_INTERNO_ORIGEN) 
BEGIN
    

	INSERT INTO OPENQUERY(AS_DELIVER,'SELECT ID_ORIGEN,FECHA_RETIRO,RETIRA,SUCURSAL,TIPO_BOLETA,RUT_CLIENTE,NOMBRE_CLIENTE,DESCUENTO_GENERAL,
	ESTADO,CODIGO,MONTO_PEDIDO,TOTAL_BOLETA,COMENTARIO,ID_INTERNO_ORIGEN,TIPO_TRANSACCION FROM RETIRO_CABECERA')
	SELECT @ORIGEN,CONVERT(DATETIME2,@FECHA),@RETIRA,@SUCURSAL,@TIPO_BOLETA,@RUT,@NOMBRE,@DESCUENTO,@ESTADO,@CODIGO,
	CONVERT(DECIMAL(13,0),REPLACE(@TOTAL_PEDIDO,',','.')),CONVERT(DECIMAL(13,0),REPLACE(@TOTAL_BOLETA,',','.')),@COMENTARIO,@ID_INTERNO_ORIGEN,@TIPO_TRANSACCION


	SELECT @ID_RETIRO=ID FROM OPENQUERY(AS_DELIVER,'SELECT IDENTITY_VAL_LOCAL() AS ID FROM RETIRO_CABECERA')

END

END


GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_RETIRO_CABECERA_SQL]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_INSERTA_RETIRO_CABECERA_SQL](
@ORIGEN			AS VARCHAR (1),
@CODIGO			AS VARCHAR (30),
@FECHA			AS VARCHAR (20),
@RETIRA			AS VARCHAR (50),
@SUCURSAL		AS VARCHAR (3),
@TIPO_BOLETA	AS VARCHAR (20),
@RUT			AS VARCHAR (20),
@NOMBRE			AS VARCHAR (50),
@DESCUENTO		AS VARCHAR (7),
@TOTAL_PEDIDO	AS VARCHAR (7),
@TOTAL_BOLETA	AS VARCHAR (7),
@ESTADO			AS VARCHAR (15),
@COMENTARIO		AS VARCHAR (50),
@ID_INTERNO_ORIGEN	AS VARCHAR (20),
@TIPO_TRANSACCION AS VARCHAR(20),
@ID_RETIRO		AS VARCHAR(10)         
)

AS 
BEGIN



DECLARE @SQL AS VARCHAR(2000)

SET @SUCURSAL=RIGHT('000' + LTRIM(RTRIM(@SUCURSAL)),3)
SET @FECHA= CONCAT(SUBSTRING(@FECHA,1,4),'-',SUBSTRING(@FECHA,6,2),'-',SUBSTRING(@FECHA,9,2),' ',SUBSTRING(@FECHA,12,8))

--EVITANDO INSERTAR UN CODIGO REPETIDO
CREATE TABLE [DBO].[#TEMP]([VAL] [VARCHAR](20) NOT NULL)

INSERT INTO #TEMP
SELECT ID_INTERNO_ORIGEN FROM RETIRO_CABECERA_SQL 
WHERE ID_ORIGEN= @ORIGEN 
AND ID_INTERNO_ORIGEN= @ID_INTERNO_ORIGEN 

-------------------------------------

IF NOT EXISTS (SELECT * FROM #TEMP WHERE VAL=@ID_INTERNO_ORIGEN) 
BEGIN

	INSERT INTO RETIRO_CABECERA_SQL
	(ID_ORIGEN, FECHA_RETIRO, RETIRA, SUCURSAL, TIPO_BOLETA, RUT_CLIENTE, NOMBRE_CLIENTE, DESCUENTO_GENERAL, ESTADO, CODIGO, MONTO_PEDIDO,
	TOTAL_BOLETA, COMENTARIO, ID_INTERNO_ORIGEN, TIPO_TRANSACCION, ID_RETIRO)
	SELECT @ORIGEN,
		   CONVERT(DATETIME2,@FECHA),
		   @RETIRA,
		   @SUCURSAL,
		   @TIPO_BOLETA,
		   @RUT,
		   @NOMBRE,
		   @DESCUENTO,
		   @ESTADO,
		   @CODIGO,
		   CONVERT(DECIMAL(13,0),REPLACE(@TOTAL_PEDIDO,',','.')),
		   CONVERT(DECIMAL(13,0),REPLACE(@TOTAL_BOLETA,',','.')),
		   @COMENTARIO,
		   @ID_INTERNO_ORIGEN,
		   @TIPO_TRANSACCION,
		   CASE WHEN @ID_RETIRO IS NULL OR @ID_RETIRO = '' THEN 0 ELSE @ID_RETIRO END

END

END




GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_RETIRO_CUPON]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[SP_INSERTA_RETIRO_CUPON](
@ID_RETIRO			AS NUMERIC,
@DESCRIPCION		AS VARCHAR (50),
@DESCUENTO			AS DECIMAL(18,2),
@TIPO				AS VARCHAR (30)
)

AS 
BEGIN

--SET XACT_ABORT ON;

INSERT INTO OPENQUERY(AS_DELIVER,'SELECT ID_RETIRO,DESCRIPCION,DESCUENTO,TIPO FROM RETIRO_CUPON')
SELECT @ID_RETIRO,@DESCRIPCION,@DESCUENTO,@TIPO

END


GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_RETIRO_CUPON_SQL]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_INSERTA_RETIRO_CUPON_SQL](
@ID_RETIRO			AS NUMERIC,
@DESCRIPCION		AS VARCHAR (50),
@DESCUENTO			AS DECIMAL(18,2),
@TIPO				AS VARCHAR (30)
)

AS 
BEGIN

INSERT INTO RETIRO_CUPON_SQL
(ID_RETIRO, DESCRIPCION, DESCUENTO, TIPO)
SELECT	@ID_RETIRO,
		@DESCRIPCION,
		@DESCUENTO,
		@TIPO

END



GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_RETIRO_DETALLE]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROC [dbo].[SP_INSERTA_RETIRO_DETALLE](
@ID_RETIRO			AS VARCHAR (7),
@COD_PRODUCTO		AS VARCHAR (30),
@CANTIDAD			AS VARCHAR (20),
@MONTO				AS VARCHAR (50),
@DESCUENTO			AS VARCHAR (10),
@PICKING			AS VARCHAR (2)
)

AS 
BEGIN

SET @MONTO = REPLACE(@MONTO,',','.')
SET @DESCUENTO = REPLACE(@DESCUENTO,',','.')

--SET XACT_ABORT ON;

-- exec SP_INSERTA_RETIRO_DETALLE '2','2','2','2','2','2'

--CONTROLA SI VIENE EL MISMO SKU EN DISTINTAS LINEAS, ENTONES ACTUALIZA, SI NO INSERTA
CREATE TABLE [dbo].[#TEMP](
	[ID_RETIRO] [char](15) NOT NULL,
) ON [PRIMARY]

DECLARE @SQL AS VARCHAR(2000)
SET @SQL='SELECT ID_RETIRO FROM OPENQUERY(AS_DELIVER,''SELECT DISTINCT ID_RETIRO 
FROM RETIRO_DETALLE WHERE ID_RETIRO=' +@ID_RETIRO + ' AND  COD_PRODUCTO=' + @COD_PRODUCTO + '  '')'

INSERT INTO #TEMP
EXEC (@SQL)

IF EXISTS (SELECT * FROM #TEMP) 
BEGIN

	SET @SQL='UPDATE OPENQUERY(AS_DELIVER,''SELECT * FROM RETIRO_DETALLE 
	WHERE ID_RETIRO=' +@ID_RETIRO + ' AND  COD_PRODUCTO=' + @COD_PRODUCTO + '  '')
	SET CANTIDAD=CANTIDAD + ' +@CANTIDAD + ''
	EXEC (@SQL)
END
ELSE
BEGIN
	INSERT INTO OPENQUERY(AS_DELIVER,'SELECT ID_RETIRO,COD_PRODUCTO,CANTIDAD,MONTO,DESCUENTO,PICKING FROM RETIRO_DETALLE')
	SELECT @ID_RETIRO,RIGHT('               ' + Ltrim(Rtrim(RTRIM(LTRIM(@COD_PRODUCTO)))),15),
	@CANTIDAD,@MONTO,@DESCUENTO,@PICKING
END

END


GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_RETIRO_DETALLE_SQL]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_INSERTA_RETIRO_DETALLE_SQL](
@ID_RETIRO			AS VARCHAR (7),
@COD_PRODUCTO		AS VARCHAR (30),
@CANTIDAD			AS VARCHAR (20),
@MONTO				AS VARCHAR (50),
@DESCUENTO			AS VARCHAR (10),
@PICKING			AS VARCHAR (2)
)

AS 
BEGIN

SET @MONTO = REPLACE(@MONTO,',','.')
SET @DESCUENTO = REPLACE(@DESCUENTO,',','.')

--CONTROLA SI VIENE EL MISMO SKU EN DISTINTAS LINEAS, ENTONES ACTUALIZA, SI NO INSERTA
CREATE TABLE [dbo].[#TEMP](
	[ID_RETIRO] [char](15) NOT NULL,
) ON [PRIMARY]

INSERT INTO #TEMP
SELECT DISTINCT ID_RETIRO FROM RETIRO_DETALLE_SQL 
WHERE ID_RETIRO= @ID_RETIRO
AND  COD_PRODUCTO= @COD_PRODUCTO 


IF EXISTS (SELECT * FROM #TEMP) 
BEGIN

	UPDATE RETIRO_DETALLE_SQL
	SET CANTIDAD=CANTIDAD + @CANTIDAD  
	WHERE ID_RETIRO= @ID_RETIRO 
	AND  COD_PRODUCTO= @COD_PRODUCTO 

END
ELSE
BEGIN
	INSERT INTO RETIRO_DETALLE_SQL
	(ID_RETIRO, COD_PRODUCTO, CANTIDAD, MONTO, DESCUENTO, PICKING)
	SELECT @ID_RETIRO,
	RIGHT('               ' + Ltrim(Rtrim(RTRIM(LTRIM(@COD_PRODUCTO)))),15),
	@CANTIDAD,
	@MONTO,
	@DESCUENTO,
	@PICKING
END

END



GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_RETIRO_PAGO]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[SP_INSERTA_RETIRO_PAGO](
@ID_RETIRO			AS VARCHAR (7),
@CUENTA1			AS VARCHAR (10),
@MONTO1				AS VARCHAR (7),
@CUENTA2			AS VARCHAR (10),
@MONTO2				AS VARCHAR (7),
@CONVENIO			AS VARCHAR (3),
@LISTA				AS VARCHAR (4)
)

AS 
BEGIN

--SET XACT_ABORT ON;

INSERT INTO OPENQUERY(AS_DELIVER,'SELECT ID_RETIRO,CUENTA1,MONTO1,CUENTA2,MONTO2,CONVENIO,LISTA FROM RETIRO_PAGO')
SELECT 
@ID_RETIRO,
RTRIM(LTRIM(@CUENTA1)),
@MONTO1,
RTRIM(LTRIM(@CUENTA2)),
@MONTO2,
RTRIM(LTRIM(@CONVENIO)),
RTRIM(LTRIM(@LISTA))

END


GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_RETIRO_PAGO_SQL]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_INSERTA_RETIRO_PAGO_SQL](
@ID_RETIRO			AS VARCHAR (7),
@CUENTA1			AS VARCHAR (10),
@MONTO1				AS VARCHAR (7),
@CUENTA2			AS VARCHAR (10),
@MONTO2				AS VARCHAR (7),
@CONVENIO			AS VARCHAR (3),
@LISTA				AS VARCHAR (4)
)

AS 
BEGIN

INSERT INTO RETIRO_PAGO_SQL
(ID_RETIRO, CUENTA1, MONTO1, CUENTA2, MONTO2, CONVENIO, LISTA)
SELECT 
	@ID_RETIRO,
	RTRIM(LTRIM(@CUENTA1)),
	@MONTO1,
	RTRIM(LTRIM(@CUENTA2)),
	@MONTO2,
	RTRIM(LTRIM(@CONVENIO)),
	RTRIM(LTRIM(@LISTA))

END



GO
/****** Object:  StoredProcedure [dbo].[SP_RESET_STOCK_PRECIO_DELIVERY]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[SP_RESET_STOCK_PRECIO_DELIVERY]
(
@DELIVERY AS INT
)
AS
BEGIN

-- EXEC SP_RESET_STOCK_PRECIO_DELIVERY 2

DECLARE @SQL AS VARCHAR (2000)
SET @SQL='UPDATE OPENQUERY(DELIVERY,''SELECT * FROM productos WHERE MARCA_DELIVERY='+CONVERT(CHAR,@DELIVERY)+' AND MOD_STOCK=''''SI''''   '')
SET MOD_STOCK='''' '
EXECUTE(@SQL)

SET @SQL='UPDATE OPENQUERY(DELIVERY,''SELECT * FROM productos WHERE MARCA_DELIVERY='+CONVERT(CHAR,@DELIVERY)+' AND MOD_PRECIO=''''SI''''  '')
SET MOD_PRECIO='''' '
EXECUTE(@SQL)

END


GO
/****** Object:  StoredProcedure [dbo].[SP_TRAE_ESTADOS_PREPAGO]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create PROC [dbo].[SP_TRAE_ESTADOS_PREPAGO] 

AS
BEGIN

-- exec SP_TRAE_ESTADOS_PREPAGO2

	SELECT ESTADO,CODIGO,ID_RETIRO,ID_INTERNO_ORIGEN FROM VISTA_ESTADOS_PREPAGO

END


GO
/****** Object:  StoredProcedure [dbo].[SP_TRAE_IP_LOCAL]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_TRAE_IP_LOCAL] 
@Local        numeric(18)

AS
BEGIN

-- EXEC SP_TRAE_IP_LOCAL 2

	select ltrim(rtrim(IP)) as IP from  IP_GATEWAY_PY where SUCURSAL = @Local

END



GO
/****** Object:  StoredProcedure [dbo].[SP_TRAE_PRECIO_DELIVERY]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_TRAE_PRECIO_DELIVERY] 
(
@DELIVERY AS INT,
@SUCURSAL AS INT)

AS
BEGIN


DECLARE @SQL AS VARCHAR (2000)


/*
EXEC SP_TRAE_PRECIO_DELIVERY 2, 43 

DECLARE @DELIVERY AS INT
DECLARE @SUCURSAL AS INT

SET @DELIVERY=2
SET @SUCURSAL=1

SELECT * FROM OPENQUERY(DELIVERY,'SELECT * FROM PRODUCTOS where marca_delivery = 2 and sucursal_id_sucursal = 14')
SELECT * FROM OPENQUERY(DELIVERY,'SELECT * FROM SECCION_PRODUCTOS')
*/


--SET @SQL='UPDATE A SET A.MOD_STOCK = ''SI''FROM OPENQUERY(DELIVERY,''SELECT A.* FROM PRODUCTOS A 
--INNER JOIN SUCURSAL B
--ON SUCURSAL_ID_SUCURSAL=NUMERO_LOCAL
--INNER JOIN SECCION_PRODUCTOS C
--ON LTRIM(RTRIM(A.CODIGO_PRODUCTO))=LTRIM(RTRIM(C.CODIGO_PRODUCTO))
--WHERE NUMERO_LOCAL= '+RTRIM(CONVERT(CHAR,@SUCURSAL))+' AND MARCA_DELIVERY='+RTRIM(CONVERT(CHAR,@DELIVERY))+'  
--AND MOD_STOCK='''''''' AND STOCK <=3 '') A'
----PRINT @SQL
--EXECUTE(@SQL)



SET @SQL='SELECT  DISTINCT * FROM OPENQUERY(DELIVERY,''SELECT NUMERO_LOCAL,
LTRIM(RTRIM(A.CODIGO_PRODUCTO)) AS CODIGO_PRODUCTO,PRECIO,PRECIO_DESCUENTO,STOCK,MOD_STOCK,MOD_PRECIO,LTRIM(RTRIM(C.CODIGO_SECCION)) AS CODIGO_SECCION
FROM productos A 
INNER JOIN sucursal B
ON SUCURSAL_ID_SUCURSAL=ID_SUCURSAL
INNER JOIN seccion_productos C
ON LTRIM(RTRIM(A.CODIGO_PRODUCTO))=LTRIM(RTRIM(C.CODIGO_PRODUCTO))
WHERE NUMERO_LOCAL= '+RTRIM(CONVERT(CHAR,@SUCURSAL))+' AND MARCA_DELIVERY='+RTRIM(CONVERT(CHAR,@DELIVERY))+'  
AND (MOD_PRECIO=''''SI'''') '')'
EXECUTE(@SQL)
--PRINT @SQL

END

GO
/****** Object:  StoredProcedure [dbo].[SP_TRAE_STOCK_DELIVERY]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_TRAE_STOCK_DELIVERY] 
(
@DELIVERY AS INT,
@SUCURSAL AS INT)

AS
BEGIN


DECLARE @SQL AS VARCHAR (2000)


/*
EXEC SP_TRAE_STOCK_DELIVERY 2, 43 

DECLARE @DELIVERY AS INT
DECLARE @SUCURSAL AS INT

SET @DELIVERY=2
SET @SUCURSAL=1

SELECT * FROM OPENQUERY(DELIVERY,'SELECT * FROM PRODUCTOS where marca_delivery = 2 and sucursal_id_sucursal = 14')
SELECT * FROM OPENQUERY(DELIVERY,'SELECT * FROM SECCION_PRODUCTOS')
*/


--SET @SQL='UPDATE A SET A.MOD_STOCK = ''SI''FROM OPENQUERY(DELIVERY,''SELECT A.* FROM PRODUCTOS A 
--INNER JOIN SUCURSAL B
--ON SUCURSAL_ID_SUCURSAL=NUMERO_LOCAL
--INNER JOIN SECCION_PRODUCTOS C
--ON LTRIM(RTRIM(A.CODIGO_PRODUCTO))=LTRIM(RTRIM(C.CODIGO_PRODUCTO))
--WHERE NUMERO_LOCAL= '+RTRIM(CONVERT(CHAR,@SUCURSAL))+' AND MARCA_DELIVERY='+RTRIM(CONVERT(CHAR,@DELIVERY))+'  
--AND MOD_STOCK='''''''' AND STOCK <=3 '') A'
----PRINT @SQL
--EXECUTE(@SQL)



SET @SQL='SELECT * FROM OPENQUERY(DELIVERY,''SELECT NUMERO_LOCAL,
LTRIM(RTRIM(A.CODIGO_PRODUCTO)) AS CODIGO_PRODUCTO,PRECIO,PRECIO_DESCUENTO,STOCK,MOD_STOCK,MOD_PRECIO,LTRIM(RTRIM(C.CODIGO_SECCION)) AS CODIGO_SECCION
FROM productos A 
INNER JOIN sucursal B
ON SUCURSAL_ID_SUCURSAL=ID_SUCURSAL
INNER JOIN seccion_productos C
ON LTRIM(RTRIM(A.CODIGO_PRODUCTO))=LTRIM(RTRIM(C.CODIGO_PRODUCTO))
WHERE NUMERO_LOCAL= '+RTRIM(CONVERT(CHAR,@SUCURSAL))+' AND MARCA_DELIVERY='+RTRIM(CONVERT(CHAR,@DELIVERY))+'  
AND (MOD_STOCK=''''SI'''') '')'
EXECUTE(@SQL)
--PRINT @SQL

END


GO
/****** Object:  StoredProcedure [dbo].[SP_TRAE_STOCK_PRECIO_DELIVERY]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[SP_TRAE_STOCK_PRECIO_DELIVERY] 
(
@DELIVERY AS INT,
@SUCURSAL AS INT)

AS
BEGIN


DECLARE @SQL AS VARCHAR (2000)

/*
EXEC SP_TRAE_STOCK_PRECIO_DELIVERY 2, 74 

DECLARE @DELIVERY AS INT
DECLARE @SUCURSAL AS INT

SET @DELIVERY=2
SET @SUCURSAL=1

SELECT * FROM OPENQUERY(DELIVERY,'SELECT * FROM PRODUCTOS where marca_delivery = 2 and sucursal_id_sucursal = 14')
SELECT * FROM OPENQUERY(DELIVERY,'SELECT * FROM SECCION_PRODUCTOS')
*/


--SET @SQL='UPDATE A SET A.MOD_STOCK = ''SI''FROM OPENQUERY(DELIVERY,''SELECT A.* FROM PRODUCTOS A 
--INNER JOIN SUCURSAL B
--ON SUCURSAL_ID_SUCURSAL=NUMERO_LOCAL
--INNER JOIN SECCION_PRODUCTOS C
--ON LTRIM(RTRIM(A.CODIGO_PRODUCTO))=LTRIM(RTRIM(C.CODIGO_PRODUCTO))
--WHERE NUMERO_LOCAL= '+RTRIM(CONVERT(CHAR,@SUCURSAL))+' AND MARCA_DELIVERY='+RTRIM(CONVERT(CHAR,@DELIVERY))+'  
--AND MOD_STOCK='''''''' AND STOCK <=3 '') A'
----PRINT @SQL
--EXECUTE(@SQL)

SET @SQL=''
SET @SQL='UPDATE A SET A.MOD_STOCK = ''SI'' FROM OPENQUERY(DELIVERY,''SELECT * FROM PRODUCTOS WHERE MOD_STOCK='''''''' AND STOCK =0 AND MARCA_DELIVERY='+RTRIM(CONVERT(CHAR,@DELIVERY))+ ' '') A
INNER JOIN OPENQUERY(DELIVERY,''SELECT * FROM SUCURSAL'') B
ON A.SUCURSAL_ID_SUCURSAL=B.id_sucursal
INNER JOIN OPENQUERY(DELIVERY,''SELECT * FROM SECCION_PRODUCTOS'') C
ON LTRIM(RTRIM(A.CODIGO_PRODUCTO))=LTRIM(RTRIM(C.CODIGO_PRODUCTO))
WHERE B.NUMERO_LOCAL= '+RTRIM(CONVERT(CHAR,@SUCURSAL))
EXECUTE(@SQL)


SET @SQL=''
SET @SQL='SELECT * FROM OPENQUERY(DELIVERY,''SELECT NUMERO_LOCAL,
LTRIM(RTRIM(A.CODIGO_PRODUCTO)) AS CODIGO_PRODUCTO,PRECIO,PRECIO_DESCUENTO,STOCK,MOD_STOCK,MOD_PRECIO,LTRIM(RTRIM(C.CODIGO_SECCION)) AS CODIGO_SECCION
FROM productos A 
INNER JOIN sucursal B
ON SUCURSAL_ID_SUCURSAL=ID_SUCURSAL
INNER JOIN seccion_productos C
ON LTRIM(RTRIM(A.CODIGO_PRODUCTO))=LTRIM(RTRIM(C.CODIGO_PRODUCTO))
WHERE NUMERO_LOCAL= '+RTRIM(CONVERT(CHAR,@SUCURSAL))+' AND MARCA_DELIVERY='+RTRIM(CONVERT(CHAR,@DELIVERY))+'  
AND (MOD_PRECIO=''''SI'''' OR 	MOD_STOCK=''''SI'''') '')'
EXECUTE(@SQL)
--PRINT @SQL

END


GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_ESTADOS_ORDEN]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROC [dbo].[SP_UPDATE_ESTADOS_ORDEN]
(
@ID_RETIRO AS VARCHAR(20)=NULL,
@ID_INTERNO_ORIGEN AS VARCHAR(20)=NULL,
@ESTADO AS VARCHAR(20))
AS
BEGIN

SET XACT_ABORT ON;

DECLARE @SQL AS VARCHAR(1000)

IF (@ID_RETIRO IS NOT NULL)
BEGIN
  SET @SQL='UPDATE OPENQUERY(AS_DELIVER,''SELECT * FROM RETIRO_CABECERA WHERE ID_RETIRO=''''' +@ID_RETIRO+ ''''''') '
  SET @SQL=@SQL+'SET ESTADO=''' + @ESTADO +''''
  EXEC(@SQL)
END


IF (@ID_INTERNO_ORIGEN IS NOT NULL)
BEGIN
  SET @SQL='UPDATE OPENQUERY(AS_DELIVER,''SELECT * FROM RETIRO_CABECERA WHERE ID_INTERNO_ORIGEN=''''' +@ID_INTERNO_ORIGEN+ ''''''') '
  SET @SQL=@SQL+'SET ESTADO=''' + @ESTADO +''''
  EXEC(@SQL)
END

END



GO
/****** Object:  StoredProcedure [dbo].[SP_VALIDA_STOCK_PRODUCTO_SUCURSAL]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_VALIDA_STOCK_PRODUCTO_SUCURSAL] 
(
@COD_PRODUCTO AS VARCHAR (13), 
@SUCURSAL AS VARCHAR (3),
@STOCK AS VARCHAR(8) OUTPUT
)

AS
BEGIN

SET XACT_ABORT ON;

DECLARE @SQL AS VARCHAR (2000)

DECLARE @FECHA AS VARCHAR(6)
DECLARE @FECHA_CORTE AS VARCHAR(6)

SELECT @FECHA=SUBSTRING(CONVERT(CHAR,GETDATE() ,112),1,6)

SELECT @FECHA_CORTE=SUBSTRING(RESTOGGRAL,130,6) FROM OPENQUERY(AS_DELIVER,'SELECT * FROM GRAL FETCH FIRST 1 ROWS ONLY')

CREATE TABLE [dbo].[#TEMP](
	[STOCK] [int] NULL
) ON [PRIMARY]

--HASTA EL MES DE CORTE FARMACIAS KNOP
SET @SQL='SELECT STOCK
FROM OPENQUERY(AS_DELIVER,''SELECT CODIGO_CMPLG,BOD_CMPLG, SUM(STOCK_INIC_CMPLG) +SUM(CANT_INGR_CMPLG) - SUM(CANT_EGRE_CMPLG) AS STOCK
FROM CMPLG 
WHERE FECHACMPL>='+ @FECHA_CORTE +'
AND   FECHACMPL<='+ @FECHA +'
AND BOD_CMPLG='+@SUCURSAL+' 
AND RTRIM(LTRIM(CODIGO_CMPLG)) LIKE ''''%'+@COD_PRODUCTO+'%'''' 
GROUP BY CODIGO_CMPLG,BOD_CMPLG'')'
INSERT INTO #TEMP
EXEC(@SQL)


IF EXISTS (SELECT * FROM #TEMP) 
	BEGIN
	   SELECT @STOCK=STOCK FROM #TEMP
	END
ELSE 
	SET @STOCK=0
END


GO
/****** Object:  StoredProcedure [dbo].[SP_VERIFICA_HORA_LOG_PY]    Script Date: 12-05-2023 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_VERIFICA_HORA_LOG_PY](
    @SERVICIO		varchar(100),
	@MINUTO			int,
	@EXCEDE			as bit	OUTPUT
)
AS

BEGIN

/*
declare @Excede as bit
EXEC SP_VERIFICA_HORA_LOG_PY 'IngresoOrdenesPedidosYa', 15 , @Excede output

select @Excede

*/

DECLARE @HoraActual datetime

SET @HoraActual = GETDATE()

IF (@SERVICIO='IngresoOrdenesPedidosYa')

	SELECT @EXCEDE = CASE WHEN DATEDIFF(MINUTE,MAX(Fecha),@HoraActual) > 15 THEN 1 ELSE 0 END
	FROM dbo.UTIL_LOG_USUARIO
	WHERE   LTRIM(RTRIM(Modulo))= @SERVICIO
	--AND  cast(Fecha as date) = cast(@HoraActual as date)
	--HAVING MAX(Fecha) < @HoraActual

IF (@SERVICIO='StockPrecioPedidosYa')
BEGIN

	--SELECT @EXCEDE = CASE WHEN DATEDIFF(MINUTE,ISNULL(MAX(Fecha),GETDATE()),@HoraActual) > 15 THEN 1 ELSE 0 END
	--FROM UTIL_LOG_USUARIO
	--WHERE  Modulo= @SERVICIO
	--AND  cast(Fecha as date) = cast(@HoraActual as date)
	--AND  Descripcion like '%StockPrecioPedidosYa - FIN PROCESO STOCK%'

	--IF @EXCEDE = 0

		SELECT @EXCEDE = CASE WHEN DATEDIFF(MINUTE,MAX(Fecha),@HoraActual) > 15 THEN 1 ELSE 0 END
		FROM dbo.UTIL_LOG_USUARIO
		WHERE   LTRIM(RTRIM(Modulo))= @SERVICIO
		--AND  cast(Fecha as date) = cast(@HoraActual as date)
		--HAVING MAX(Fecha) < @HoraActual
END

IF (@SERVICIO='EstadosHeartBeatPedidosYa')

	SELECT @EXCEDE = CASE WHEN DATEDIFF(MINUTE,MAX(Fecha),@HoraActual) > @MINUTO THEN 1 ELSE 0 END
	FROM dbo.UTIL_LOG_USUARIO
	WHERE   LTRIM(RTRIM(Modulo)) = @SERVICIO
	--AND  cast(Fecha as date) = cast(@HoraActual as date)

IF (@SERVICIO='EstadosHeartBeatPedidosYa_2')

	SELECT @EXCEDE = CASE WHEN DATEDIFF(MINUTE,MAX(Fecha),@HoraActual) > @MINUTO THEN 1 ELSE 0 END
	FROM dbo.UTIL_LOG_USUARIO
	WHERE   LTRIM(RTRIM(Modulo)) = @SERVICIO
	--AND  cast(Fecha as date) = cast(@HoraActual as date)

IF (@SERVICIO='EstadosPedidosYa')

	SELECT @EXCEDE = CASE WHEN DATEDIFF(MINUTE,MAX(Fecha),@HoraActual) > @MINUTO THEN 1 ELSE 0 END
	FROM dbo.UTIL_LOG_USUARIO
	WHERE   LTRIM(RTRIM(Modulo)) = @SERVICIO
	--AND  cast(Fecha as date) = cast(@HoraActual as date)

RETURN @EXCEDE

END


GO
USE [master]
GO
